/*CSS for GEOM101 Assignment 3 */
/*Creator for each section stated in comment above code*/

/*General formatting for the body of pages*/

body, html {
  height: 100%;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: #324253;
  font-size: 15px;
  background-color: #a1c482;
}

/* Responsive design techniques amended by Nicholas Pretli on December 4, 2020 */
.responsive {
  width: 100%;
  height: auto;
}

.p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/*Trail page CSS - Added by Tayler Nichol, December 6*/
h2{padding: 1%;
}

h3{padding: 1%;
}
#maindescr {
  font-size: 16px;
  text-align: center;
  padding: 2%;
}
.sub{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 1%;
}

.main{
  font-size: 16px;
  text-align: left;
  padding: 1%;
}
#trailtitle1{
  background-color:#014869; 
  border: none;
  color: whitesmoke;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  padding: 1%;
}
#trailtitle2{
  background-color: #03293b; 
  border: none;
  color: rgba(136, 189, 52, 0.747);
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  padding: 1%;
}
#trailtext1{
  padding: 1%;
  font-size: 16px;
  display: none;
}
#trailtext2{
  padding: 1%;
  font-size: 16px;
  display: none; 
}
.imagecptn{
  font-size: 12px;
}

/*Site Header
by: Hayley Kennington
November 23, 2020 9am
Idea taken from https://www.thehikinglife.com/, 
code modified from https://www.w3schools.com/howto/howto_css_hero_image.asp*/
/* Amended (generalized) by Nicholas Pretli Dec 4, 2020 */

.header-image {
  background-image: url("photos/smokelakecrop.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-image-ken {
  background-image: url("photos/ken-reid.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  font-family:'century gothic';
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2f7f0;
  font-size: 200px;
  text-shadow: 1px 1px 2px black;
  font-size:2vw
  }

.header-image-regional {
  background-image: url("photos/kawartha-winter.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-image-qeii {
  background-image: url("photos/lake2fall.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-image-history {
  background-image: url("photos/human-history-3.jpeg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  
.header-image-balsam {
  background-image: url("photos/Balsam-Lake-1-Kawartha-Realty.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #3292cf;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3292cf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #3361FF;
  color: white;
}

.dropdown-content a:hover {
  background-color: #008000;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* Footer by Nicholas Pretli on December 7, 2020, 6:30 p.m */
/* CSS concepts referenced from https://w3schools.com */

.footer{
  font-family: 'century gothic';
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #3292cf;
  color: white;
  text-align: center;
  padding: 10px;
}

.box{
  width: 600px;
  height: 400px;
  background-size: cover; 
  text-align: center;
  padding: 20px;
  margin: 200px auto;
  box-shadow: 0px 0px 10px 2px grey;
  border: 10px solid red;
  background-image:url('four-people-outdoors.jpg')

}

/*Download Buttons
by: Eric Millan
December 3, 2020
Idea taken from walkHighlands https://www.walkhighlands.co.uk/sutherland/ceannabeinne.shtml, 
code modified to include buttons
*/

/*DIV BLOCKFOR DOWNLOAD BUTTONS, CENTERED*/
.downloadDiv {
  height: 25px;
  position: relative;
  top: auto;
  bottom: auto;
  padding: 10px;
  background-color: #014869;
  font-size: 16px;
  margin: auto;
  display: inline-block; 
  width: 100%;
}

.downloadButtons {
  float: center;
  align-items: center;
  margin: auto;
  display: block;
}

.mapDownload {
  background-color: rgb(159, 216, 213);
  border: none;
  color: black;
  padding: 10% 10%;
  text-align: center;
  font-size: 16px;
  margin: 5px 50px;
  transition: 0.3s;
}


/* Static map of Kawartha Lakes, Ontario 
by: Nicholas Pretli
 December 7, 2020
/* Idea taken from https://developers.google.com/maps/documentation/maps-static/overview */

.static{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }


/*********************************************/

@media screen and (max-width: 2000px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

<<<<<<< HEAD
@media screen and (max-width: 2000px) {
  .topnav.responsive {position: absolute;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

=======
>>>>>>> dd8ebfaaf6840c726af67d57e624ceb6148d2db5
/* Main Page Container by Nicholas Pretli on December 7, 2020 */
/* CSS concepts referenced from https://www.youtube.com/watch?v=T_DIpApkjwM */


.container{
  width: 90%;
  overflow: hidden;
  background: skyblue;
  margin: 20px auto;
  padding: 20px; 
}

.container ul{
  padding: 0px; 
  margin:opx; 
}

.container ul li{
  list-style: none;
  float: left;
  width: 100%;
  height: 300px; 
  background: gray;
  margin: 40px 30px 0px 20px; 
  box-sizing: border-box;
  border:2px solid white;
}

.container ul li:hover{
  opacity: 0.9;
}

.container ul li .title:hover{
  background: blue;
  color:white;
} 

.container ul li .title{
  font-family: 'century gothic';
  font-size:5vw;
  width: 100%;
  height: 50px; 
  line-height: 50px;
  background: green;
  text-align: center;  
}

<<<<<<< HEAD
@media screen and (max-width:4000px) {
  .container ul li{
    width:40%;
    margin-left: 50px;} 
}
}

=======
/* Footer by Nicholas Pretli on December 7, 2020, 6:30 p.m */
/* CSS concepts referenced from https://w3schools.com */

.footer{
  font-family: 'century gothic';
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #3292cf;
  color: white;
  text-align: center;
  padding: 0px;
}

.box{
  width: 600px;
  height: 400px;
  background-size: cover; 
  text-align: center;
  padding: 20px;
  margin: 200px auto;
  box-shadow: 0px 0px 10px 2px grey;
  border: 10px solid red;
  background-image:url('four-people-outdoors.jpg')

}

/*Download Buttons
by: Eric Millan
December 3, 2020
Idea taken from walkHighlands https://www.walkhighlands.co.uk/sutherland/ceannabeinne.shtml, 
code modified to include buttons
*/

/*DIV BLOCKFOR DOWNLOAD BUTTONS, CENTERED*/
.downloadDiv {
  height: 25px;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #3292cf;
  position: relative;
}

.downloadButtons {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: inline-block;
  padding: 10px 10px 10px;
}

.mapDownload {
  background-color: rgb(159, 216, 213);
  border: none;
  color: black;
  padding: 10% 10%;
  text-align: center;
  font-size: 10%;
  margin: 5px 50px;
}

<<<<<<< HEAD
.downloadDiv {
  height: 30px;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 5%;
  background-color: #3292cf;
  position: relative;
}

.downloadDiv2 {
  height: 15px;
  width: 100%;
  margin: 0;
  padding: 5%;
  display: flex;
  justify-content: center;
  background-color: #3292cf;
  position: relative;
  color: white;
  text-align: center;
  font-size:150%;
}

.downloadbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  display: inline-block;
  color: white;
  margin: 5px;
  font-size: 200%;
  background-color: #014869;
  padding: 5px;

@media screen and (max-width: 600px) {
  .container ul li{
    width:40%;
    margin-left: 50px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
>>>>>>> bbb9b10bdb5eeb9fd4ed25973ec7d5a0816291b6
}
>>>>>>> dd8ebfaaf6840c726af67d57e624ceb6148d2db5
